// Bootstrap overrides
// -------------------------
@linkColor:                  @grayDark;
@linkColorHover:             @linkColor;

@baseFontFamily:             'Donegal One', @serifFontFamily;
@altFontFamily:              @baseFontFamily;


// Custom variables
// -------------------------
@searchFormWidth:            260px;

@sourcePaddingHorizontal:    5px;
@sourceSelectedBackground:   @linkColor;
@sourceSelectedColor:        @white;
