<!DOCTYPE html>
<html>
<head>
<title>Cocktail search | JavaScript License Information</title>
</head>
<body>
<table id="jslicense-labels1">
  <tr>
    <td><a href="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">jquery.min.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="https://github.com/jquery/jquery/archive/1.9.1.zip">jquery-1.9.1.zip</a></td>
  </tr>
  <tr>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js">underscore-min.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="https://github.com/jashkenas/underscore/archive/1.4.4.zip">underscore-1.4.4.zip</a></td>
  </tr>
  <tr>
    <td><a href="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js">backbone-min.js</a></td>
    <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
    <td><a href="https://github.com/jashkenas/backbone/archive/1.0.0.zip">backbone-1.0.0.zip</a></td>
  </tr>
  <tr>
    <td><a href="{{ site_url }}static/script.js">script.js</a></td>
    <td><a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU-AGPL-3.0</a></td>
    <td><a href="{{ site_url }}static/script.js">script.js</a></td>
  </tr>
</table>
</body>
</html>
