* {
	font-family: 'Donegal One', serif !important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
	font-size: 1.4em;
	line-height: 1.3em;
	margin-top: 0;
}

h3 {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-top: 0;
	margin-bottom: 5px;
}

a, a:hover, a:active {
	color: #333;
}

body {
	overflow-y: scroll;
}

body > * {
	padding: 1em;
}

form {
	margin: 0;
}

li {
	list-style-type: none;
	text-indent: -24px;
}

#search-form {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 260px;
	overflow: auto;
}

#search-form input {
	width: 100%;
	height: auto;
}

#search-results {
	margin-left: 255px;
}

.cocktail {
	overflow: auto;
	padding-bottom: 2em;
	position: relative;
}

.cocktail:last-child {
	padding-bottom: 0;
}

.recipe {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 700px;
	padding-left: 5px;
}

.recipe:not(.active) {
	display: none;
}

.picture {
	padding-right: 1em;
}

.picture > * {
	width: 140px;
	display: inline-block;
}

.details {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.ingredients-and-sources {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 100%;
}

.ingredients {
	margin-right: 1em;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.ingredients li {
	font-size: 1.1em;
	line-height: 1.5em;
}

.sources {
	width: 130px;
}

.sources li {
	font-size: 0.9em;
	line-height: 1.8em;
}

.sources a {
	margin-left: -5px;
	padding: 2px 5px;
	border-radius: 7px;
}

.sources a.active,
.sources a.active:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}
#github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
}

@media (max-width: 1000px) {
	#search-form {
		position: static;
		width: auto;
	}

	#search-results {
		margin-left: -5px;
	}

	#github-ribbon {
		display: none;
	}

	.recipe {
		width: 100%;
	}
}

@media (max-width: 580px) {
	.picture {
		display: none;
	}

	.ingredients-and-sources {
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	}
}
