* {
	font-family: 'Donegal One', serif !important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2, h2 a, h2 a:hover {
	font-size: 1.2em;
	line-height: 1.3em;
	margin-top: 2px;
	color: #333;
}

body {
	overflow-y: scroll;
}

body > * {
	padding: 1em;
}

form {
	margin: 0;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	background-color: #333;
}

#ingredients {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 260px;
	overflow: auto;
}

#ingredients input {
	width: 100%;
	height: auto;
}

#cocktails {
	margin-left: 260px;
}

.cocktail {
	overflow: auto;
	padding-bottom: 2em;
	position: relative;
}

.cocktail:last-child {
	padding-bottom: 0;
}

.cocktail .nav-pills {
	position: absolute;
	top: 0;
	left: 420px;
}

.cocktail .nav-pills > li > a {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0.8em;
}

.cocktail .nav-pills > li > a > span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/sources.png);
}

.cocktail .nav-pills > li      > a[href^="http://liquor.com/"]            > span { background-position:   0     0;   }
.cocktail .nav-pills > .active > a[href^="http://liquor.com/"]            > span { background-position: -24px   0;   }
.cocktail .nav-pills > li      > a[href^="http://www.seriouseats.com/"]   > span { background-position:   0   -24px; }
.cocktail .nav-pills > .active > a[href^="http://www.seriouseats.com/"]   > span { background-position: -24px -24px; }
.cocktail .nav-pills > li      > a[href^="http://en.wikipedia.org/"]      > span { background-position:   0   -48px; }
.cocktail .nav-pills > .active > a[href^="http://en.wikipedia.org/"]      > span { background-position: -24px -48px; }
.cocktail .nav-pills > li      > a[href^="http://www.esquire.com/"]       > span { background-position:   0   -72px; }
.cocktail .nav-pills > .active > a[href^="http://www.esquire.com/"]       > span { background-position: -24px -72px; }
.cocktail .nav-pills > li      > a[href^="http://www.cocktaildb.com/"]    > span { background-position:   0   -96px; }
.cocktail .nav-pills > .active > a[href^="http://www.cocktaildb.com/"]    > span { background-position: -24px -96px; }
.cocktail .nav-pills > li      > a[href^="http://www.drinkboy.com/"]      > span { background-position:   0   -120px; }
.cocktail .nav-pills > .active > a[href^="http://www.drinkboy.com/"]      > span { background-position: -24px -120px; }
.cocktail .nav-pills > li      > a[href^="http://ohgo.sh/"]               > span { background-position:   0   -144px; }
.cocktail .nav-pills > .active > a[href^="http://ohgo.sh/"]               > span { background-position: -24px -144px; }
.cocktail .nav-pills > li      > a[href^="http://www.cocktailtimes.com/"] > span { background-position:   0   -168px; }
.cocktail .nav-pills > .active > a[href^="http://www.cocktailtimes.com/"] > span { background-position: -24px -168px; }
.cocktail .nav-pills > li      > a[href^="http://www.drinksmixer.com/"]   > span { background-position:   0   -192px; }
.cocktail .nav-pills > .active > a[href^="http://www.drinksmixer.com/"]   > span { background-position: -24px -192px; }
.cocktail .nav-pills > li      > a[href^="http://www.monkey47.com/"]      > span { background-position:   0   -216px; }
.cocktail .nav-pills > .active > a[href^="http://www.monkey47.com/"]      > span { background-position: -24px -216px; }

.recipe {
	display: table;
}

.recipe > * {
	display: table-cell;
	vertical-align: top;
	padding-right: 1em;
}

.recipe h2 {
	width: 250px;
}

.recipe li {
	list-style-type: none;
	text-indent: -1.5em;
	font-size: 1.1em;
	line-height: 1.5em;
}

.picture > * {
	width: 140px;
	display: inline-block;
}

#github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
}

@media (max-width: 1000px) {
	#ingredients {
		position: static;
		width: auto;
	}

	#cocktails {
		margin-left: 0;
	}

	.cocktail .nav-pills {
		position: static;
		float: right;
	}

	.cocktail .nav-pills > li {
		float: none;
	}

	.recipe h2 {
		width: auto;
	}

	#github-ribbon {
		display: none;
	}
}

@media (max-width: 500px) {
	.picture {
		display: none;
	}
}
